.dropBtn,
.dropBtnActive {
    text-align: start;
    padding: 8px 0 8px 20px;
    width: 150px;
    background: #ffffff;
    border-style: none;
    outline-style: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
}

.dropBtn {
    border-radius: 15px;
}

.dropBtnActive {
    border-radius: 15px 15px 0 0;
}

.dropBtn:hover,
.dropBtn:focus,
.dropBtnActive:hover,
.dropBtnActive:focus {
    background-color: #ffffff;
}

.dropDown {
    position: relative;
    display: inline-block;
    background: #ffffff;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
}

.pathDown {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 8px;
    background-image: url(../../../assets/img/ui/path_down.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
    cursor: pointer;
}

.pathUp {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 8px;
    background-image: url(../../../assets/img/ui/path_up.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
    cursor: pointer;
}

.dropDown a {
    padding: 6px 0 6px 20px;
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
}

.dropDown a:hover {
    background-color: #f3f8fc;
    padding: 6px 0 6px 20px;
    border-radius: 0px 10px 10px 0px;
}

.dropDownContent {
    display: none;
}

.isShow {
    display: block;
    position: absolute;
    top: 30px;
    background-color: #ffffff;
    width: 150px;
    overflow: auto;
    z-index: 1;
    border-radius: 0 0 15px 15px;
    height: 50px;
}